attrs==24.3.0
beautifulsoup4==4.12.3
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
exceptiongroup==1.2.2
fake-useragent==1.4.0
future==1.0.0
googlesearch-python==1.2.3
h11==0.14.0
idna==3.10
importlib_resources==6.4.5
lzstring==1.0.4
outcome==1.3.0.post0
phonenumbers==8.13.32
pwnedpasswords==2.0.0
pycparser==2.22
pygame==2.6.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
PySocks==1.7.1
python-whois==0.8.0
requests==2.31.0
selenium==4.18.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
tqdm==4.66.1
trio==0.27.0
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==2.2.3
wsproto==1.2.0
xxtea==3.3.0
zipp==3.20.2
